h2 {
  color: #861388; 
  text-decoration: overline underline dotted 5px #2C666E ;
  font-family: courier;
}

body {
  background-color: #EEABC4;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
}


nav {
  list-style-type: none;
  width: 100vw;
  background-color: #4ECDC4;
  overflow: hidden;
  position: fixed;
    top: 0;
  left: 0;
}
li a {
  color: white;
  text-decoration: none; 
  display: block;
  padding: 25px 250px;
  float: left;
}
li a:hover {
  background-color: #9DACFF;
  color: #EFCFE3;
}
